* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}
/* add header tag and section tag in HTML file. therefore i think better solution  exists */

section {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
#header {
  font-size: 48px;
  padding: 20px;
  float: left;
  width: 50%;
  height: 100px;
}
#list {
  float: left;
  width: 50%;
  height: 100px;
  padding-top: 25px;
}
#seo {
  color: #d9dcd6;
}

ul {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 15px;
  font-size: 20px;
}

li {
  display: inline;
  margin-left: 10px;
  color: #ffffff;
  text-decoration: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* change img link address*/
.hero {
  margin-bottom: 25px;
  height: 800px;
  width: 100%;
  background-image: url("..//images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

p {
  font-size: 16px;
}

#float-left {
  float: left;
  margin-right: 25px;
}

#float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/*optimize code, there was many classes which did not necessary*/
#div {
  margin-bottom: 32px;
  color: #ffffff;
}

#div h3 {
  margin-bottom: 10px;
  text-align: center;
}

#div img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*optimize code, there was many classes which did not necessary*/
article {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

article img {
  max-height: 200px;
}

article h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* because delete div tag and footer class, delete footer's class tag and add footer tag"*/
footer {
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
